@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;300;400&display=swap');


body {
  background-color: #1A1A1B;
  font-size: 1.6rem;
  font-family: "Sora";
  color: #FFFFFF;
}

.logo{
  width: 150px;
  margin-top: 20px;
  margin-left: 4.7em;
  margin-block-end: -3.8em;
}

.h1cadastro {
  font-family: 'Sora';
  font-weight: 100;
  font-size: 50px;
  text-align: left;
  margin-left: 1.3vh;
  margin-top: 45px;
  margin-block-end: -0.5em;
}

h5{
  font-family: 'Sora';
  font-weight: 100;
  font-size: 23px;
  text-align: left;
  margin-left:2vh;
  margin-block-end: 1-em;
}

a,
a:link,
a:visited,
a:active {
  color: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:focus, a:hover,
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover,
a:active:focus,
a:active:hover {
  color: #7051E2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cadastro-form-wrap {
  width: 70%;
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
  width: auto;
}

.cadastro-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

input[type="senha"],
input[type="email"],
input[type="usuario"] {
  width: 100%;
  padding: 0 0 0 10px;
  margin: 10px 0;
  color: #8a8b8e;
  border: 1px solid #7051E2;
  font-family: 'Sora';
  font-style: normal;
  font-size: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
  border-radius: 45px;
}
input[type="senha"]:focus,
input[type="email"]:focus {
  border-color: #7051E2;
  
}

.btn-cadastro {
  border: border-width border-style border-color;
  display: block;
  border-color: #7051E2;
  background-color: #1A1A1B;
  color: #fff;
  font-weight: bold;
  font-family: 'Sora';
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 18px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 35px;
  width: 100%;
  padding: 20px;
  border-radius: 45px;
}
.btn-cadastro:hover {
  background-color: #7051E2;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.SocialMidiaCadastro{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-block-start: -0.2em;
  position: relative;
  margin-left: 0.9em;
  width: 38px;
  height: 38px;
  list-style: none;
}

.SocialMidiaCadastro li{
  margin: 1em;
}

.SocialMidiaCadastro svg{
  font-size: 1.5em;
  cursor: pointer;
}